.container_nav{
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    line-height: 100px;
    justify-content: space-around;
    box-shadow: 2px 2px 3px 1px #dfdfdf 

}

.container_nav img{
   width: 90px;
   height: 90px;
}

.container_nav a{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #e23e57;
}


    
